<form method="post" action="/addBlog">
  <ul>
  {{#each user}}
    <li>{{name}}</li>
    <li>{{email}}</li>
    <li><img src="{{img}}"></li>
  {{/each}}
  </ul>
  <select>
    {{#each userId}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
  </select>
  <input name="title" placeholder="Blog Title" type="text"><br>
  <textarea name="blog" placeholder="Blog goes here" cols="50" rows="10">
  </textarea>
  <input type="button" action="submit">
</form>

<a href='/'>Take me home</a>